
<%= simple_form_for ([@post, @post.comments.build])  do |f| %>


<% if @post.errors.any? %>
    <div id="error_explanation">
    <div class="panel panel-danger">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-ban-circle"> </span> 
                <%= pluralize(@post.errors.count, "error") %> </strong>
                <%# pluralize is a rails helper that takes a number and a string as its arguments. 
                If the number is greater than one, the string will be automatically pluralized. %>
                prohibited
                this Comment from being saved:
            </div>
            <div class="panel-body">
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        </div>
    </div>
  <% end %>
  <%# if there is any error that not allow us to save the data upper code will show the error %>
    <div class="form-group">
        <%# <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Name"> %>
        <%= f.input :name, placeholder: 'Your Name', input_html: { class: 'form-control' } ,lable_html: { class: 'label' } %>
    </div>
    <div class="form-group">
        <%# <%= f.text_area :body, :rows => 10, style: 'width:100%;' %> 
        <%= f.input :message, input_html:  {class: 'textarea', rows: 4 },placeholder: 'Your thoughts here' %>
    </div>
    <br>
    
        <%= f.button :submit, class: 'btn btn-success' %>
        <br><br>
    </div>
<% end %>