
<% content_for :page_title, "Search" %>


<br>
<div class="container">
  <% @results.each do |post| %>
    <div class="cap">
      <%= link_to post_path(post) do %>
        <div class="panel panel-success">
          <div class="panel-body">
            <strong class="mcolor"><%= post.title %></strong>
            <span class="pull-right"><%= post.user.email %></span>
            <%#><strong class="mcolor"><%= link_to post.title, post %>
          </div>
          <div class="panel-body"><%=h truncate(post.body, :length => 160) %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
