<div class="container" data-turbolinks="false">
<%= simple_form_for @post, :validate => true do |f| %>
   

<% if @post.errors.any? %>
    <div id="error_explanation">
    <div class="panel panel-danger">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-ban-circle"> </span> 
                <%= pluralize(@post.errors.count, "error") %> </strong>
                <%# pluralize is a rails helper that takes a number and a string as its arguments. 
                If the number is greater than one, the string will be automatically pluralized. %>
                prohibited
                this Post from being saved:
            </div>
            <div class="panel-body invalid-feedback">
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        </div>
    </div>
  <% end %>
  <%# if there is any error that not allow us to save the data upper code will show the error %>
    <div class="form-group">
        <%= f.label :category %><br>
        <%= select_tag(:category_id, options_for_select(@categories, f.object.category_id), {class: "form-control"} )%>
    </div>

    <div class="form-group">
        <%# <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> %>
        <%= f.input :title, input_html: { class: 'form-control' }, placeholder: 'Title of Your Blog here' %>
    </div>
    <div class="form-group">
        <%# <%= f.text_area :body, :rows => 10, style: 'width:100%;' %>
        <%= f.input :body, as: :summernote, input_html:  {class: 'textarea', rows: 7 },placeholder: 'Content of Your Blog Here' %>
    </div>
    <% if @post.image? %>
      <p>
        <%= image_tag(@post.image_url(:thumb)) %>
        <%# image_tag(@user.avatar_url) if @user.avatar? %>
<!--        if thumbnails are delted then run this in rails c Post.find(3)image.recreate_versions!
            p.remote_image_url = "https://something/image.jpg"
            p.remove_image!
-->   </p>
      <% else %>
      <img id="blah" src="http://placehold.it/180" height="180" width="180" alt="your image" />
    <% end %>
    <div class="form-group">
      <%# <%= f.text_area :body, :rows => 10, style: 'width:100%;' %>
      <%= f.input :image, as: :file, :input_html => {:onchange => "readURL(this);" } %>
    </div>
    <br>
    <br>
        <%= f.button :submit, class: 'btn btn-success' %>
        <%= link_to 'Back', :back,class: 'btn btn-danger pull-right' %>
    </div>
<% end %>