<% content_for :page_title, "Index" %>
<br> 
    <div class="container">
        <% @posts.each do |post| %>
        <div class="cap">
        <%= link_to post_path(post) do %>
            <div class="panel panel-success">
                <div class="panel-body">
                    <strong class="mcolor"><%= post.title %></strong>
                    <span class="pull-right"><%= post.user.email %> | </span>
                  <span class="glyphicon glyphicon-thumbs-up pull-right"> <%= "#{post.likes.count} | - " %> <%# (post.likes.count) == 1 ? 'Like' : 'Likes'%></span>
                  <%#><strong class="mcolor"><%= link_to post.title, post %>
                </div>
                <div class="panel-body">
                  <%= sanitize post.body,
                               tags: %w(strong em a b font br p table tbody tr td ol li u img iframe span blockquote pre h1 h2 h3 h4 h5 h6 div strike hr),
                               attributes: %w(href face class src style ta rget frameborder width height color) %>
                </div>
            </div>
            <% end %>
            </div>
        <% end %>
    </div>
