<nav class="navbar navbar-inverse" style="border-radius:0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="<%= root_path %>">RailsBlog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li class="active"><%= link_to "<span class='glyphicon glyphicon-home' style='color:#80eda8'></span> Home".html_safe, root_path(),render_as_button: true,html: { class: 'btn btn-success' } %></li>
        
        <% if(user_signed_in?) %>
          <% if(current_user.isadmin) %>
            <li><%= link_to "<span class='glyphicon glyphicon-list-alt' style='color:#80eda8'></span> All Users".html_safe, users_path(),render_as_button: true,html: { class: 'btn btn-success' } %></li>
            <li><%= link_to "Profile".html_safe, user_profile_path(current_user),render_as_button: true,html: { class: 'btn btn-success' } %></li>
          <% else %>
            <li><%= link_to "Profile".html_safe, user_profile_path(current_user),render_as_button: true,html: { class: 'btn btn-success' } %></li>
          <% end %>
        <% end %>
<!--        search bar----------------------------->
        <li>
        <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-center') do %>
          <div class="input-group">
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
            <div class="input-group-btn">
              <%= button_tag "", :class => 'btn btn-success glyphicon glyphicon-search',:name => nil%>

            </div>
          </div>
        <% end %>
        </li>
<!--        search bar end-------------------------->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(user_signed_in?) %>
          <li><%= link_to "<span class='glyphicon glyphicon-plus' style='color:#80eda8'></span> Create Post".html_safe, new_post_path(),render_as_button: true,html: { class: 'btn btn-success' } %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <%= current_user.email %></span> <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-inverse">
              <li><%= link_to "<span class='glyphicon glyphicon-eye-open' style='color:#80eda8'></span> Edit".html_safe, edit_user_registration_path() ,render_as_button: true,html: { class: 'btn btn-success' } %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "<span class='glyphicon glyphicon-off' style='color:#80eda8'></span> Sign Out".html_safe, destroy_user_session_path() ,:method => 'delete',render_as_button: true,html: { class: 'btn btn-danger' } %></li>
          <% else %>
              <li><%= link_to "<span class='glyphicon glyphicon-log-in' style='color:#80eda8'></span> Sign In".html_safe, new_user_session_path() ,render_as_button: true,html: { class: 'btn btn-success' } %></li>
              <li><%= link_to "<span class='glyphicon glyphicon-triangle-bottom' style='color:#80eda8'></span> Sign Up".html_safe, new_user_registration_path() ,render_as_button: true,html: { class: 'btn btn-success' } %></li>
            </ul>
          </li>
        <% end %>
        <%# <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> %>
      </ul>
    </div>
  </div>
</nav>